#bg-img {
  height: 100vh;
  width: 100vw;
  background-image: url(images/map.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;  


}

#map { 
  height: 96vh;
  width: 98vw;
  border-radius: 8px;
  border: 2px;
  border-color: turquoise;
  border-style: solid; 

}

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}
  
.wrapper{
  position: absolute;
  height: 90vh;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10000;
  
}

.wrapper .search-box {
  height: auto;
  width: fit-content;
  background: #fff;
  border-radius: 5px;
  display: flex;
  padding: 8px;
  box-shadow: 0 8px 6px -10px #b3c6ff;
}  

.wrapper .search-box .select {
  height: auto;
  width: fit-content;
  color: darkviolet;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  padding: 13px 15px;
  font-size: 18px;
  border: none;
  font-weight: 600;
}

.wrapper .search-box .select:hover {
  color: black;
}
  
.wrapper .searchbox .search_field {
  width: 350px;
  height: 100%;
  position: relative;
}

.wrapper .search-box .search_field .input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 20px;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 38px;
  color: darkviolet;

}
  
.wrapper .search-box .search_field .fas {
  position: absolute;
  top: 18px;
  right: 10px;
  font-size: 30px;
  color: #5078ef;
  cursor: pointer;

}



